@import "./variables";
@media screen and (max-width: 900px) {
    .dark {
        background-color: $primary-color-dark;
        #nav {
            background-color: $black-color-dark;
        }
    }
    .light {
        #nav {
            background-color: $primary-color-variant;
        }
    }
}

@media screen and (min-width: 899px) {
    .dark {
        background-color: $primary-color-dark;
        #nav {
            background-color: $primary-color-dark;
        }
    }
    .light {
        background-color: $white-color;
        #nav {
            background-color: $white-color;
        }
    }
}

.moreDark {
    background-color: $secondary-color-dark;
    #nav {
        background-color: $primary-color-variant;
    }
}

.light2 {
    background-color: $third-color;
}

.dark {
    #linea-azul,
    #linea-azul-footer {
        background-color: $black-color-dark;
    }
}

.light {
    background-color: $white-color;
    #linea-azul,
    #linea-azul-footer {
        background-color: $primary-color;
    }
}