@import "./variables";
@media screen and (max-width: 900px) {
    .dark {
        background-color: $primary-color-dark;
        #nav {
            background-color: $black-color-dark;
        }
        #nav .item {
            color: $white-color;
        }
    }
    .light {
        #nav {
            background-color: $primary-color-variant;
        }
        #nav .item {
            color: $white-color;
        }
    }
}

@media screen and (min-width: 899px) {
    .dark {
        background-color: $primary-color-dark;
        #nav {
            background-color: $primary-color-dark;
        }
        #nav .item,
        #container-gifs .whiteText {
            color: $white-color;
        }
    }
    .light {
        background-color: $white-color;
        #nav {
            background-color: $white-color;
        }
        #trending p {
            color: $black-color;
        }
        #nav .item,
        #container-gifs .whiteText {
            color: $primary-color;
        }
    }
}

.moreDark {
    background-color: $secondary-color-dark;
    #nav {
        background-color: $primary-color-variant;
    }
    .tittle-trending-gifos,
    #container-parrafos .contenidoP {
        color: $white-color;
    }
}

.light2 {
    background-color: $third-color;
    #container-parrafos .contenidoP {
        color: black;
    }
    .tittle-trending-gifos {
        color: $primary-color;
    }
}

.dark {
    #linea-azul,
    #linea-azul-footer {
        background-color: $black-color-dark;
    }
    .whiteText,
    .containerIconsH5 h5,
    .container-copyright .copyright {
        color: $white-color;
    }
    .buscador {
        border: 1px solid $white-color;
    }
}

.light {
    background-color: $white-color;
    #linea-azul,
    #linea-azul-footer {
        background-color: $primary-color;
    }
    .whiteText {
        color: $primary-color;
    }
    .containerIconsH5 h5,
    .container-copyright .copyright {
        color: $black-color;
    }
    .buscador {
        border: 1px solid $primary-color;
    }
}