    @import "./variables";
    @media screen and (max-width: 899px) {
        header {
            width: 100%;
            height: 95px;
            //background-color: rgb(176, 176, 255);
        }
        .linea-azul {
            width: 100%;
            height: 5px;
            background-color: $primary-color;
        }
        .img-logo-gifos {
            width: 48.8px;
            height: 48.8px;
            margin-left: 22px;
        }
        .container-header {
            height: 90px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .button-cruz {
            display: none;
        }
        .nav-menu ul {
            display: none;
            background-color: $primary-color-variant;
            //margin: 0;
        }
        input:checked~ul {
            display: block;
            position: absolute;
            top: 95px;
            right: 0px;
            width: 100%;
            height: 100%;
            transform: translate(auto, -100%);
        }
        .nav-menu input {
            display: none;
        }
        .nav-menu {
            margin-right: 26px;
        }
        .item-menu {
            text-align: center;
            padding: 20px 50px;
            margin-top: 5px;
        }
        .item {
            color: $white-color;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 15px;
        }
    }
    
    @media screen and (min-width: 501px) {
        .item {
            font-size: 17px;
        }
    }
    
    @media screen and (min-width: 900px) {
        header {
            width: 100%;
            height: 95px;
            //background-color: rgb(176, 176, 255);
        }
        .linea-azul {
            width: 100%;
            height: 5px;
            background-color: $primary-color;
        }
        .container-header {
            height: 90px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .img-logo-gifos {
            width: 59.1px;
            height: 59.1px;
            margin-left: 156px;
        }
        .nav-menu {
            width: 45%;
        }
        .nav-menu ul {
            width: 100%;
            //background-color: violet;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
        .button-cruz {
            outline: none;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
        .img-cruz {
            width: 54px;
            height: 54px;
        }
        .img-cruz:active {
            background-image: url("../Images/CTA-crear-gifo-hover.svg");
        }
        .item-menu {
            //margin: 16px 0 24px 16px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .item {
            height: 28px;
            color: $primary-color;
            font-size: 13px;
        }
        .item:hover {
            text-decoration: underline $secondary-color;
        }
        .nav-menu input,
        .nav-menu label {
            display: none;
        }
    }