@import "./variables";
@media screen and (max-width: 899px) {
    .container-buscador-GIFOS {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .tittle-p,
    .GIFOS {
        font-size: 25px;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 7px 44px 0 44px;
        //background-color: yellowgreen;
        font-weight: bold;
    }
    .GIFOS {
        color: $secondary-color;
        margin: auto;
    }
    .container-image {
        width: 100%;
        //background-color: violet;
        display: flex;
        //margin-top: 31px;
        margin: 31px 51px 0 51px;
    }
    .container-image img {
        width: 75%;
        margin: auto;
        //align-self: center;
        //margin: 0px 51px 0 51px;
    }
    .buscador {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //text-align: center;
        //padding: 5%;
        border: 1px solid $primary-color;
        border-radius: 27px;
        //margin: 0 21px 0 21px;
        width: 90%;
    }
    input:focus {
        outline: none;
    }
    .buscar-gifos {
        //color: black;
        margin: 15px 40px 15px 40px;
        font-family: 'Roboto', sans-serif;
        border: none;
        text-align: left;
        //padding: 10px;
        width: 50%;
        font-size: 16px;
    }
    .container-lupa {
        width: 20%;
        display: flex;
        justify-content: center;
    }
    #trending {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 45px 0;
    }
    #trending p {
        margin: 0 70px 0 70px;
        color: $primary-color;
        text-align: center;
        font-size: 14px;
    }
    .trending-tittle {
        font-family: 'Montserrat', sans-serif;
        color: $primary-color;
        font-size: 16px;
        padding: 10px 10px 7px 10px;
        font-weight: bold;
    }
    .container-trending p {
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 0 20% 0 20%;
        padding: 0 10px 10px 10x;
        font-size: 14px;
    }
    #container-gifs {
        display: flex;
        flex-direction: column;
        align-items: center;
        //background-color: $third-color;
        width: 100%;
        height: 400px;
    }
    .tittle-trending-gifos {
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        margin: 46px 0 7px 0;
    }
    #container-gifs p {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: black;
        padding: 2px;
        display: block;
        text-align: center;
    }
}

#gifs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    // border: 2px solid black;
    overflow: hidden;
}

#gifs img {
    width: 50%;
    height: 187px;
    margin: 32px 0 0 22px;
}

@media screen and (min-width: 501px) {
    .container-image {
        width: 90%;
        //background-color: violet;
        display: flex;
        //margin-top: 31px;
        margin: 31px 51px 0 51px;
    }
    .container-image img {
        width: 55%;
        margin: auto;
        //align-self: center;
        //margin: 0px 51px 0 51px;
    }
    #gifs {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 2px solid black;
        width: 85%;
        overflow: hidden;
    }
    #gifs img {
        width: 40%;
        height: 275px;
        margin: 53px 0 182px 29px;
    }
}

@media screen and (min-width: 900px) {
    .container-buscador-GIFOS {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .tittle-p,
    .GIFOS {
        font-size: 35px;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 100px 263px 0 263px;
        //background-color: yellowgreen;
        font-weight: bold;
    }
    .GIFOS {
        color: $secondary-color;
        margin: auto;
    }
    .container-image {
        width: 80%;
        //background-color: violet;
        display: flex;
        //margin-top: 31px;
        margin: 24px 0px 0 0px;
    }
    .container-image img {
        width: 40%;
        margin: auto;
        //align-self: center;
        //margin: 0px 51px 0 51px;
    }
    .buscador {
        width: 55%;
        //background-color: rgb(192, 255, 249);
        //padding: 5px 6px;
        border-radius: 27px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid $primary-color;
    }
    input:focus {
        outline: none;
    }
    .buscar-gifos {
        //color: black;
        margin: 13px auto 13px 54px;
        font-family: 'Roboto', sans-serif;
        border: none;
        text-align: left;
        //padding: 10px;
        width: 50%;
        font-size: 16px;
    }
    .container-lupa {
        width: 10%;
        display: flex;
        justify-content: center;
    }
    .lupa {
        width: 20px;
        height: 20px;
        align-self: center;
    }
    #trending {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 73px 0 95px 0;
    }
    #trending p {
        color: $black-color;
        text-align: center;
        font-size: 18px;
    }
    .trending-tittle {
        font-family: 'Montserrat', sans-serif;
        color: $primary-color;
        font-size: 18px;
        padding: 10px 10px 7px 10px;
        font-weight: bold;
    }
    .container-trending p {
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: 5px 20% 0 20%;
        //padding: 5px 10px 10px 10x;
        font-size: 16px;
    }
    #container-gifs {
        display: flex;
        flex-direction: column;
        align-items: center;
        //background-color: $third-color;
        width: 100%;
        height: auto;
    }
    .tittle-trending-gifos {
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 25px;
        padding: 5px;
        margin: 67px 0 12px 0;
    }
    #container-gifs p {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        color: black;
        padding: 2px;
        display: inline-block;
        text-align: center;
    }
}