$primary-color: #572EE5;
$primary-color-variant: rgba(86, 46, 229, 0.892);
$secondary-color: #5ED7C6;
$third-color: #F3F5F8;
$black-color: black;
$white-color: white;
// colors mode dark
$primary-color-dark: #37383C;
$secondary-color-dark: #222326;
$black-color-dark: #000000;