@media screen and (max-width: 899px) {
  header {
    width: 100%;
    height: 95px;
    border-top: 5px solid #572EE5;
  }
  .img-logo-gifos {
    width: 48.8px;
    height: 48.8px;
    margin-left: 22px;
  }
  .container-header {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button-cruz {
    display: none;
  }
  .nav-menu ul {
    display: none;
  }
  input:checked ~ ul {
    display: block;
    position: absolute;
    top: 95px;
    right: 0px;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(auto, -100%);
            transform: translate(auto, -100%);
  }
  .nav-menu input {
    display: none;
  }
  .nav-menu {
    margin-right: 26px;
  }
  .item-menu {
    text-align: center;
    padding: 20px 50px;
    margin-top: 5px;
  }
  .item {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
  }
  button {
    background: none;
    cursor: pointer;
    border: none;
    color: #572EE5;
  }
}

@media screen and (min-width: 501px) {
  .item {
    font-size: 17px;
  }
}

@media screen and (min-width: 900px) {
  header {
    width: 100%;
    height: 95px;
    position: fixed;
    top: 0;
    z-index: 2;
    border-top: 5px solid #572EE5;
  }
  .container-header {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .img-logo-gifos {
    width: 59.1px;
    height: 59.1px;
    margin-left: 156px;
  }
  .nav-menu {
    width: 45%;
    background: white;
  }
  .nav-menu ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  .button-cruz {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .img-cruz {
    width: 54px;
    height: 54px;
  }
  .img-cruz:active {
    background-image: url("../Images/CTA-crear-gifo-hover.svg");
  }
  .item-menu {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  .item-menu #button {
    font-weight: bold;
  }
  .item {
    height: 28px;
    color: #572EE5;
    font-size: 13px;
    text-decoration: none;
  }
  .item:hover {
    -webkit-text-decoration: underline #5ED7C6;
            text-decoration: underline #5ED7C6;
  }
  .nav-menu input,
  .nav-menu label {
    display: none;
  }
  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #572EE5;
  }
}

@media screen and (max-width: 899px) {
  .container-buscador-GIFOS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .tittle-p,
  .GIFOS {
    font-size: 25px;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 7px 44px 0 44px;
    font-weight: bold;
  }
  .GIFOS {
    color: #5ED7C6;
    margin: auto;
  }
  .container-image {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 31px 51px 0 51px;
  }
  .container-image img {
    width: 75%;
    margin: auto;
  }
  .buscador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #572EE5;
    border-radius: 27px;
    width: 90%;
  }
  input:focus {
    outline: none;
  }
  .buscar-gifos {
    margin: 15px 40px 15px 40px;
    font-family: 'Roboto', sans-serif;
    border: none;
    text-align: left;
    width: 50%;
    font-size: 16px;
  }
  .container-lupa {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #trending {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px 0 45px 0;
  }
  #trending p {
    margin: 0 70px 0 70px;
    color: #572EE5;
    text-align: center;
    font-size: 14px;
  }
  .trending-tittle {
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    font-size: 16px;
    padding: 10px 10px 7px 10px;
    font-weight: bold;
  }
  .container-trending p {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0 20% 0 20%;
    padding: 0 10px 10px 10x;
    font-size: 14px;
  }
  #container-gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 400px;
  }
  .tittle-trending-gifos {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 46px 0 7px 0;
  }
  #container-gifs p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 2px;
    display: block;
    text-align: center;
  }
}

#gifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  overflow: hidden;
}

#gifs img {
  width: 50%;
  height: 187px;
  margin: 32px 0 0 22px;
}

@media screen and (min-width: 501px) {
  .container-image {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 31px 51px 0 51px;
  }
  .container-image img {
    width: 55%;
    margin: auto;
  }
  #gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    overflow: hidden;
  }
  #gifs img {
    width: 40%;
    height: 275px;
    margin: 53px 0 182px 29px;
  }
}

@media screen and (min-width: 900px) {
  .container-buscador-GIFOS {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .tittle-p,
  .GIFOS {
    font-size: 35px;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 100px 263px 0 263px;
    font-weight: bold;
  }
  .GIFOS {
    color: #5ED7C6;
    margin: auto;
  }
  .container-image {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 24px 0px 0 0px;
  }
  .container-image img {
    width: 40%;
    margin: auto;
  }
  .buscador {
    width: 55%;
    border-radius: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid #572EE5;
  }
  input:focus {
    outline: none;
  }
  .buscar-gifos {
    margin: 13px auto 13px 54px;
    font-family: 'Roboto', sans-serif;
    border: none;
    text-align: left;
    width: 50%;
    font-size: 16px;
  }
  .container-lupa {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lupa {
    width: 20px;
    height: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #trending {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 73px 0 95px 0;
  }
  #trending p {
    color: black;
    text-align: center;
    font-size: 18px;
  }
  .trending-tittle {
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    font-size: 18px;
    padding: 10px 10px 7px 10px;
    font-weight: bold;
  }
  .container-trending p {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 5px 20% 0 20%;
    font-size: 16px;
  }
  #container-gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto;
  }
  .tittle-trending-gifos {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    margin: 67px 0 12px 0;
  }
  #container-gifs p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 2px;
    display: inline-block;
    text-align: center;
  }
}

@media screen and (max-width: 899px) {
  #container-footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 5px solid #572EE5;
  }
  #linea-azul-footer {
    width: 100%;
    height: 5px;
  }
  .container-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containerIconsH5 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #container-footer h5 {
    font-family: 'Roboto', sans-serif;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    color: black;
    font-size: 15px;
    margin-top: 47px;
  }
  .container-icons {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 24px;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .copyright {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 14px;
    margin: 48px 0 23px 0;
  }
}

@media screen and (min-width: 900px) {
  #container-footer {
    width: 100%;
    height: 116px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 5px solid #572EE5;
  }
  #linea-azul-footer {
    width: 100%;
    height: 5px;
  }
  .containerIconsH5 {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 49.5px;
  }
  .container-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: -72.2px;
  }
  .copyright {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 13px;
    margin: 49.5px 155px 49.5px 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .containerIconsH5 h5 {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 13px;
    margin-left: 156px;
  }
  .container-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    width: 25%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (max-width: 1800px) {
  .container-svg-tittle-favoritos {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icon-favoritos {
    width: 28px;
    height: 21px;
    margin-bottom: 7px;
  }
  .tittle-favoritos {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #572EE5;
    margin-bottom: 46px;
  }
  #container-gifs-favoritos {
    width: 100%;
    height: 700px;
  }
  .container-btn-verMas {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #button-verMas {
    padding: 18px 30px;
    border-radius: 25px;
    border: 1px solid #572EE5;
    background-color: white;
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    margin: 78px 0 78px 0;
    text-align: center;
  }
  .container-gifs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F3F5F8;
    width: 100%;
    height: 400px;
  }
  .tittle-trending-gifos {
    color: #572EE5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 46px 0 7px 0;
  }
  .container-gifs p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding: 2px;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 901px) {
  .tittle-favoritos {
    font-size: 25px;
    margin-bottom: 36px;
  }
  .container-gifs {
    height: 640px;
  }
  .tittle-trending-gifos {
    font-size: 25px;
    margin: 68px 0 12px 0;
  }
  .container-gifs p {
    font-size: 18px;
    display: inline-block;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

.dark {
  background-color: #37383C;
}

.moreDark {
  background-color: #222326;
}

.light {
  background-color: white;
}

.light2 {
  background-color: #F3F5F8;
}

.blue-line {
  background-color: #572EE5;
}

.blue {
  background-color: rgba(86, 46, 229, 0.892);
}

.black-line {
  background-color: black;
}
/*# sourceMappingURL=styles.css.map */