@import "./header";
@import "./main";
@import "./footer";
@import "./mainFavoritos";
@import "./colors";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

// .dark {
//     background-color: $primary-color-dark;
// }
// .moreDark {
//     background-color: $secondary-color-dark;
// }
// .light {
//     background-color: $white-color;
// }
// .light2 {
//     background-color: $third-color;
// }
// .blue-line {
//     background-color: $primary-color;
// }
// .blue {
//     background-color: $primary-color-variant;
// }
// .black-line {
//     background-color: $black-color;
// }